@font-face {
  font-family: "Noto Sans KR Regular";
  src: url("../public/font/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: "Noto Sans KR Bold";
  src: url("../public/font/NotoSansKR-Bold.otf");
}

@font-face {
  font-family: "Noto Sans KR Light";
  src: url("../public/font/NotoSansKR-Light.otf");
}

@font-face {
  font-family: "Noto Sans KR Medium";
  src: url("../public/font/NotoSansKR-Medium.otf");
}

html {
  min-width: 1440px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
